<!DOCTYPE html>
<html>

<head>

  <!-- @if ENV!='DEV' !>
  <link rel="stylesheet" href="<!-- @echo DIST_ROOT -->css/css-bundle.min.css">
  <!-- @endif -->

  <!-- @if ENV='DEV' -->
  <link rel="stylesheet" href="../dist/DEV/css/css-bundle.min.css">
  <!-- @endif -->

  <!-- 1. Load libraries -->
  <!-- Polyfill(s) for older browsers -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.0/es6-shim.min.js"></script>

  <script src="https://npmcdn.com/zone.js@0.6.12?main=browser"></script>
  <script src="https://npmcdn.com/reflect-metadata@0.1.3"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/0.19.27/system.js"></script>
  <script src="https://npmcdn.com/typescript@1.8.10/lib/typescript.js"></script>

  <!-- 2. Configure SystemJS -->
  <script src="system.config.js"></script>


</head>

<body>
<my-app>Loading...</my-app>



 <!-- @if ENV!='DEV' -->
<script src="<!-- @echo DIST_ROOT -->js/app-bundle.min.js"></script>
<script>
  System.import('bootstrap')
          .catch(function(err) {
            console.log('error while importing:');
            console.log(err);
            console.log(err.stack);
          });
</script>
<!-- @endif -->

<!-- @if ENV='DEV' -->
<script>
  System.import('src/app/bootstrap')
  .catch(function(err) {
    console.log('error while importing:');
    console.log(err);
    console.log(err.stack);
  });
</script>
<!-- @endif -->
</body>

</html>
